
/*---------------------- 上下分割布局 ----------------------*/

.barOut {
	width: 100%;
	height: 90%;
}

.barBody {
	position: relative;
	width: 100%;
	height: 90%;
	overflow-y: auto;
	overflow-x: hidden;
}

.bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
}

/*---------------------- 按钮样式 ----------------------*/

.btn {
	display: inline-block;
	height: 100%;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
	background-color: #EEE;
	box-shadow: inset 0 0 0 1px #AAA;
}

.btn1 {
	width: 100%;
}

.btn2 {
	width: 50%;
}

.btn3 {
	width: 33%;
}

.btn3m {
	width: 34%;
}

.btn4 {
	width: 25%;
}

.btns {
	background-color: transparent;
	box-shadow: none;
}

.subbtn {
	display: inline-block;
	width: 80%;
	cursor: pointer;
	font-size: 1.2rem;
	line-height: 2;
	border-radius: 5rem;
	background-color: #EEE;
	box-shadow: inset -0.2rem -0.3rem 1rem 0 #999;
}

/*---------------------- 扫描页面样式 ----------------------*/

.txtt {
	display: block;
	width: 100%;
	margin: 0.5rem auto;
	border-bottom: solid 1px #999;
}
.k {
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	text-align: left;
}
.v {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	text-align: right;
	line-height: 2;
}
.th {
	font-weight: bold;
	color: #444;
	border-bottom: solid 0.2rem #444;
	margin-top: 2rem;
}
.td:hover {
	background-color: #EEE;
}
.detailDom {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: #F9F9F9;
}
.note {
	position: absolute;
	bottom: 3rem;
	width: 100%;
	height: 2rem;
	font-style: italic;
	color: #111;
	text-align: center;
}

.ring {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	/* background-image: url(../img/ring.png); */
}

.noring {
	/* background-image: url(../img/noring.png); */
}


/*---------------------- 首页 ----------------------*/

.logo {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	/* background-image: url(../img/InvengoLOGO3.png); */
}

.exit {
	position: absolute;
	bottom: 2rem;
	width: 100%;
	color: #111;
	font-style: italic;
}


/*---------------------- 查询页面样式 ----------------------*/

.row {
	height: 10%;
}
.row2 {
	height: 6%;
}
.row3 {
	position: relative;
	height: 25%;
}
.today {
	position: absolute;
	top: 15%;
	right: 5%;
	font-weight: bold;
	color: #555;
}
.rowDown {
	height: 43%;
	overflow-x: hidden;
	overflow-y: auto;
}
.rowDown p {
	word-break: break-all;
	padding: 1rem;
	font-size: 1rem;
	font-style: italic;
	color: #111;
}
.row4 {
	height: 33%;
}
.rowSub {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.8rem;
}
.typ {
	width: 25%;
	text-align: center;
}
.typ2 {
	width: 25%;
	text-align: left;
}
.typscd {
	color: blue;
	font-weight: bold;
}
.ktw {
	width: 38%;
	text-align: right;
}
.knw {
	width: 30%;
	text-align: center;
}
.kpw {
	width: 16%;
	text-align: center;
	line-height: 2.5;
}
.kcw {
	width: 16%;
	text-align: right;
	line-height: 2.5;
}
.kmid {
	text-align: center;
}
.th2 {
	position: relative;
	font-weight: bold;
}
.line {
	position: absolute;
	bottom: 0.7rem;
	width: 100%;
	height: 0.1rem;
	background-color: #333;
}
.numall {
	margin-left: 10%;
	color: #AAA;
	font-style: italic;
}
.lineBg {
	background-color: #EEE;
}


/*---------------------- 详情页面样式 ----------------------*/

table, tbody, tr {
    width: 100%;
    text-align: center;
}

/*---------------------- 时间选择器 ----------------------*/
.dtpo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #F9F9F9;
}
.dtpTxt {
	margin: 3rem 0;
	font-size: 2rem;
}
.dtpBtn {
	display: inline-block;
	cursor: pointer;
	margin: 2rem 0;
	padding: 1rem 2rem;
	background-color: yellow;
}

#timmin, #timmax, #num, .typ, .today {
	cursor: pointer;
}
