.boso {
	color: #00195D;
	background-color: #00A0B6;
}

/* ----- 标题 ------ */

.titleOut {
	position: relative;
	height: 12%;
}

.titlePic {
	width: 3rem;
	height: 100%;
	margin-left: 1rem;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	/*background-size: cover;*/
	background-image: url(../img/titlePic.png);
}

.title {
	font-weight: bolder;
}

.hr1 {
	height: 1%;
	border: none;
	background-color: #BCF8FF;
}

/* ---- 下部框架 ---- */

.out1 {
	height: 3%;
}

.out2 {
	height: 81%;
	width: 96%;
	margin: 0 auto;
}

.out3 {
	width: 69%;
	height: 100%;
	position: relative;
}

.out4 {
	width: 30%;
	height: 100%;
	border: solid 0.1rem #58335E;
	background-color: #BEF7FF;
}

.out5 {
	height: 13.5%;
}

.hr2 {
	height: 0.5%;
	border: none;
	background-color: #58335E
}

.out7 {
	height: 7%;
}

.alarmPic {
	width: 4rem;
	height: 80%;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-image: url(../img/alarmPic.png);
}

.out6 {
	height: 79%;
	overflow-x: hidden;
	overflow-y: auto;
}

.out6 table, .out7 table {
	width: 100%;
	text-align: center;
}

.out6 td {
	padding: 0.6rem 0;
}

.out6 tr:hover {
	background-color: #DDD;
}

.tbwtim {
	width: 45%;
}

.tbwnam {
	width: 30%;
}

.tbwtmp {
	width: 25%;
}

.dzout {
	width: 95%;
	height: 40%;
	padding: 0 1%;
	text-align: center;

	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	background-image: url(../img/DZ.png);
}

.out9 {
	height: 60%;
}

.rr {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	background-image: url(../img/rr.png);
}

.ry {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	background-image: url(../img/ry.png);
}

.rg {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	background-image: url(../img/rg.png);
}

.dzsub {
	display: inline-block;
	position: relative;
	width: 6.6%;
	height: 100%;
}

.dzi {
	position: absolute;
	top: 0;
	left: 0;
	width: 55%;
	height: 3rem;
	margin: 97% 0 0 22%;
}

.dzo {
	position: absolute;
	top: 0;
	left: 0;
	width: 55%;
	height: 3rem;
	margin: 217% 0 0 22%;
}

.out13 {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	height: 100%;
}

.out14 {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-left: 5%;
	height: 100%;
}

.out15 {
	height: 13%;
	text-align: center;
	line-height: 1.5;
	font-weight: bolder;
}

.out16 {
	height: 87%;
}

.out17 {
	display: inline-block;
	width: 40%;
	line-height: 1.5;
}

.qout {
	width: 100%;
	height: 100%;
	text-align: center;

	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	background-image: url(../img/Q.png);
}

.qsub {
	display: inline-block;
	position: relative;
	width: 16.6%;
	height: 100%;
}

.qi {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 3rem;
	margin: 78% 0 0 25%;
}

.qo {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 3rem;
	margin: 209% 0 0 25%;
}

.kmout {
	width: 100%;
	height: 100%;
	text-align: center;

	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	background-image: url(../img/KM.png);
}

.kmsub {
	display: inline-block;
	position: relative;
	width: 30.5%;
	height: 100%;
}

.kmi {
	position: absolute;
	top: 0;
	left: 0;
	width: 63%;
	height: 3rem;
	margin: 105% 0 0 17%;
}

.kmo {
	position: absolute;
	top: 0;
	left: 0;
	width: 63%;
	height: 3rem;
	margin: 296% 0 0 17%;
}

/* ----- 设置页面 ------ */

.set_title {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
}

.memo {
	margin-right: 3rem;
	text-align: center;
	color: red;
	font-style: italic;
	font-weight: bolder;
}

.btn {
	padding: 0.3rem 1rem;
	margin-right: 2rem;
	font-weight: bolder;
	background-color: #BEF7FF;
}
.btn:hover {
	background-color: yellow;
	/*border: solid 0.2rem #58335E;*/
}

.set_out {
	height: 82%;
	width: 96%;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.set_out table {
	width: 100%;
}

.set_out td {
	font-size: 1.5rem;
}

.set_out .k {
	width: 25%;
	text-align: right;
	font-weight: bolder;
	line-height: 2.5;
}

.set_out .t {
	font-size: 1.8rem;
	font-weight: bolder;
}

.set_out input {
	width: 88%;
	font-size: 1.4rem;
	padding: 0.3rem;
	background-color: #BEF7FF;
}

.set_foot {
	height: 80%;
}
